@font-face {
    font-family: 'boom';
    src: url('/텍스트스탬프/badaboom_bb/BADABB__.TTF') format('truetype');
}
@font-face {
    font-family: 'axis';
    src: url('/텍스트스탬프/komika_axis/KOMIKAX_.ttf') format('truetype');
}
body {
    margin: 0;
    overflow: hidden;
    font-family: 'axis';
    background-color: #FFCC70;
}

.stamp-container {
    position: absolute;
    pointer-events: none;
}

.stamp {
    text-shadow: 8px 8px #20262E;
    position: absolute;
    color: blue;
    white-space: nowrap;
}
